@import "../../..../../../../../scss/variables";

.dialog-container {
  padding: 20px;
}

h2[mat-dialog-title] {
  font-size: 24px !important;
  margin-bottom: 30px;
}

mat-dialog-content {
  font-size: 18px !important;
  margin-bottom: 10px;
}

.dialog-buttons-box {
  display: flex;
  justify-content: end;
}

button[mat-button] {
  font-size: 16px;
  transition: 0.3s all;
}

.btn-close {
  background-color: $secondary-color;
}

.btn-close:hover {
  background-color: $secondary-color-darker;
  color: $white-color;
}

.btn-stay:hover {
  background-color: $white-color-darker;
}
