@import "../../..../../../../../scss/variables";

.dialog-container {
  padding: 2rem;
}

h2[mat-dialog-title] {
  font-size: 2.4rem !important;
  margin-bottom: 3rem;
}

mat-dialog-content {
  font-size: 1.8rem !important;
  margin-bottom: 1rem;
}

.dialog-buttons-box {
  display: flex;
  justify-content: end;
}

button[mat-button] {
  font-size: 1.6rem;
  transition: 0.3s all;
}

.btn-close {
  background-color: $secondary-color;
}

.btn-close:hover {
  background-color: $secondary-color-darker;
  color: $white-color;
}

.btn-stay:hover {
  background-color: $white-color-darker;
}
