@import "../../../../scss/variables";

.form-heading {
  font-size: 32px;
  color: $primary-color;
}

.marriage-container {
  padding-bottom: 2.8px;

  .marriage-row {
    gap: 46px;

    .box {
      border-radius: 10px;
      padding: 30px 50px;
      border: 1px solid $primary-color;
    }

    .fiance-box {
      ::ng-deep.mat-mdc-tab.mdc-tab .mdc-tab__text-label {
        font-size: 16px;
      }

      ::ng-deep.mat-mdc-tab-body-content {
        overflow: hidden;
      }

      .fiance-title {
        font-size: 30px;
      }

      .fiance-img-box {
        .fiance-img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          overflow: hidden;
          display: flex;
          align-items: center;

          img {
            width: 100%;
          }
        }

        .send-button-icon {
          top: 50%;
          transform: translate(-50%, -80%);
          left: 50%;

          mat-icon {
            opacity: 80%;
            font-size: 50px;
            height: 50px;
            width: 50px;
          }
        }
      }

      ::ng-deep.mat-mdc-tab-body {
        overflow: hidden;
      }

      .couple-img-box {
        position: relative;
        height: 562px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        mat-icon {
          position: absolute;
          opacity: 75%;
          font-size: 84px;
          width: 84px;
          height: 84px;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
        }

        input {
          position: absolute;
          opacity: 0;
        }

        img {
          position: absolute;
          width: 100%;
        }
      }
    }
  }
}
