<form [formGroup]="marriageForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
  <div class="d-flex justify-content-end mt-5">
    <app-btn-crazy-gradient
      [buttonText]="'Cadastrar'"
      [form]="marriageForm"
    ></app-btn-crazy-gradient>
  </div>

  <section class="marriage-container">
    <div class="marriage-row row mt-1">
      <section class="fiance-box box col-xl mat-elevation-z9">
        <mat-tab-group>
          <mat-tab label="Fotos dos noivos">
            <div class="row mt-5">
              <div class="col-md-6">
                <h2 class="fiance-title text-center mb-5">Noivo</h2>
                <div
                  class="fiance-img-box d-flex align-items-center flex-column justify-content-center position-relative"
                  (click)="onOpenGroomImage()"
                >
                  <div class="fiance-img">
                    <img
                      src="{{
                        photoGroomSrc != null
                          ? photoGroomSrc
                          : '../../../../assets/images/man-example.png'
                      }}"
                      alt="Foto de exemplo de um homem"
                    />
                  </div>
                  <button
                    mat-raised-button
                    color="accent"
                    class="fs-5 mt-4 w-25"
                    type="button"
                  >
                    Enviar
                  </button>
                  <input
                    type="file"
                    class="opacity-0"
                    name="groom-img"
                    id=""
                    #groomImage
                    (change)="onFileChange($event)"
                  />
                  <span class="send-button-icon position-absolute"
                    ><mat-icon>upload</mat-icon></span
                  >
                </div>
                <div class="row mt-5">
                  <div class="mb-4">
                    <app-input-field
                      [label]="'Nome'"
                      [form]="marriageForm"
                      [inputErrors]="groomErrors"
                      [formControlName]="'groom'"
                      [icon]="'person'"
                    ></app-input-field>
                  </div>

                  <div class="mb-4">
                    <app-input-field
                      [label]="'Idade'"
                      [form]="marriageForm"
                      [inputErrors]="groomAgeErrors"
                      [formControlName]="'groomAge'"
                      [icon]="'celebration'"
                    ></app-input-field>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <h2 class="fiance-title text-center mb-5">Noiva</h2>
                <div
                  class="fiance-img-box d-flex align-items-center flex-column justify-content-center position-relative"
                  (click)="onOpenBrideImage()"
                >
                  <div class="fiance-img">
                    <img
                      src="{{
                        photoBrideSrc != null
                          ? photoBrideSrc
                          : '../../../../assets/images/woman-example.png'
                      }}"
                      alt="Foto de exemplo de uma mulher"
                    />
                  </div>
                  <button
                    mat-raised-button
                    color="accent"
                    class="fs-5 mt-4 w-25"
                    type="button"
                  >
                    Enviar
                  </button>
                  <input
                    type="file"
                    class="opacity-0"
                    name="bride-img"
                    id=""
                    #brideImage
                    (change)="onFileChange($event)"
                  />
                  <span class="send-button-icon position-absolute"
                    ><mat-icon>upload</mat-icon></span
                  >
                </div>
                <div class="row mt-5">
                  <div class="mb-4">
                    <app-input-field
                      [label]="'Nome'"
                      [form]="marriageForm"
                      [inputErrors]="brideErrors"
                      [formControlName]="'bride'"
                      [icon]="'person'"
                    ></app-input-field>
                  </div>

                  <div class="mb-4">
                    <app-input-field
                      [label]="'Idade'"
                      [form]="marriageForm"
                      [inputErrors]="brideAgeErrors"
                      [formControlName]="'brideAge'"
                      [icon]="'celebration'"
                    ></app-input-field>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Foto do casal">
            <div class="couple-img-box mt-5" (click)="onOpenCoupleImage()">
              <img
                src="{{
                  photoCoupleSrc != null
                    ? photoCoupleSrc
                    : '../../../../assets/images/marriage-example.png'
                }}"
                alt="Foto de exemplo de um casal"
              />

              <mat-icon>upload</mat-icon>

              <input
                type="file"
                name="couple-img"
                id=""
                #coupleImage
                (change)="onFileChange($event)"
              />
            </div>
          </mat-tab>
        </mat-tab-group>
      </section>
      <div class="info-box box col-xl mat-elevation-z9">
        <section class="marriage-container mt-5">
          <h2 class="d-5 mt-5 form-heading mb-5">Informações do casamento</h2>

          <div class="mb-4">
            <app-date-picker [form]="marriageForm"></app-date-picker>
          </div>
          <div class="mb-4">
            <app-input-field
              [label]="'Bairro'"
              [form]="marriageForm"
              [inputErrors]="neighborhoodErrors"
              [formControlName]="'neighborhood'"
              [icon]="'location_city'"
            ></app-input-field>
          </div>

          <div class="mb-4">
            <app-input-field
              [label]="'Rua'"
              [form]="marriageForm"
              [inputErrors]="streetErrors"
              [formControlName]="'street'"
              [icon]="'location_on'"
            ></app-input-field>
          </div>

          <div class="mb-4">
            <app-input-field
              [label]="'Numero de endereço'"
              [form]="marriageForm"
              [inputErrors]="numberAddressErrors"
              [formControlName]="'numberAddress'"
              [icon]="'home_pin'"
            ></app-input-field>
          </div>
        </section>
      </div>
    </div>
  </section>
</form>
