@import "../../../../scss/variables";

.form-heading {
  font-size: 3.2rem;
  color: $primary-color;
}

.marriage-container {
  .marriage-row {
    gap: 3.8rem;

    .box {
      border-radius: 10px;
      padding: 3rem 5rem;
      border: 1px solid $primary-color;

      .fiance-title {
        font-size: 3rem;
      }

      .fiance-img-box {
        .fiance-img {
          width: 15rem;
          height: 15rem;
          background-color: $primary-color;
          border-radius: 50%;
          overflow: hidden;
          display: flex;
          align-items: center;

          img {
            width: 100%;
          }
        }

        .send-button-icon {
          top: 50%;
          transform: translate(-50%, -80%);
          left: 50%;

          mat-icon {
            opacity: 80%;
            font-size: 5rem;
            height: 5rem;
            width: 5rem;
          }
        }
      }
    }
  }
}
