<div class="form-box">
  <div *ngIf="isLoading" style="text-align: center">
    <mat-progress-spinner
      class="example-margin"
      color="accent"
      [mode]="'indeterminate'"
    >
    </mat-progress-spinner>
  </div>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
    <h2 class="form-heading">Registre-se</h2>
    <div class="form-inputs-box">
      <app-input-field
        [label]="'Nome'"
        [form]="signupForm"
        [formControlName]="'personName'"
        [inputErrors]="nameErrors"
        [placeholder]="'Guilherme Marques dos Santos'"
        [icon]="'person'"
      ></app-input-field>
      <app-input-field
        [label]="'Email'"
        [form]="signupForm"
        [formControlName]="'email'"
        [inputErrors]="emailErrors"
        [placeholder]="'example@gmail.com'"
        [icon]="'email'"
      ></app-input-field>
      <app-input-field
        [label]="'Telefone'"
        [form]="signupForm"
        [formControlName]="'phone'"
        [inputErrors]="phoneErrors"
        [placeholder]="'99999999999'"
        [icon]="'phone'"
      ></app-input-field>
      <app-input-field
        [label]="'Senha'"
        [form]="signupForm"
        [inputErrors]="passwordErrors"
        [formControlName]="'password'"
        [isPassword]="true"
      ></app-input-field>
      <app-input-field
        [label]="'Confirmar Senha'"
        [form]="signupForm"
        [inputErrors]="confirmErrors"
        [formControlName]="'confirmPassword'"
        [isPassword]="true"
      ></app-input-field>

      <mat-checkbox color="primary"
        >Eu aceito os termos de serviço</mat-checkbox
      >

      <div class="btn-form-box">
        <!-- <button class="btn btn-primary" type="submit">Enviar</button> -->
        <button
          class="btn-form btn-crazy-gradient"
          type="submit"
          [disabled]="!signupForm.valid"
        >
          Cadastrar Conta
        </button>
      </div>
      <p class="form-action">
        Ja possui registro?
        <span class="change-form-link" (click)="onChangeForm()"
          >Entre agora</span
        >
      </p>
    </div>
  </form>
</div>
