@import "../../../../scss/variables";

.form-box {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 7rem 6rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box form {
  width: 100%;
}

.form-heading {
  color: $primary-color;
  font-size: 4rem;
  letter-spacing: 3px;
  margin-bottom: 3.8rem;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}

.form-inputs-box {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.form-action {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.4rem;
}

.form-input-box-duo {
  display: flex;
  gap: 1.4rem;
}

mat-checkbox {
  font-size: 1.4rem;
}

mat-form-field {
  width: 100%;
  font-size: 1.6rem;
}

mat-error {
  position: relative;
  font-size: 1.2rem;
  margin: 0.2rem 0 0.4rem 0;
}

::ng-deep
  .theme-light
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
  .mat-mdc-form-field-infix {
  padding-top: 15px;
  padding-bottom: 8px;
}

::ng-deep .mat-mdc-form-field-infix {
  min-height: 40px !important;
}

::ng-deep
  .theme-light
  .mat-mdc-text-field-wrapper
  .mat-mdc-form-field-flex
  .mat-mdc-floating-label {
  top: 47%;
}

/* Form Button*/

.btn-form-box {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.btn-form {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: 340px;
  padding: 1.8rem 4.8rem;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 600;
}

.btn-crazy-gradient {
  background: $crazy-gradient;
  color: $white-color;
}

.btn-crazy-gradient:disabled {
  background: $primary-color-opacity !important;
}

.btn-crazy-gradient:disabled:hover {
  background-color: $primary-color;
  box-shadow: 0px 0px 0px rgb(0, 0, 0, 0.03);
  transform: translateY(-0rem);
}

.btn-crazy-gradient:hover {
  box-shadow: 10px 10px 30px rgb(0, 0, 0, 0.03);
  transform: translateY(-0.3rem);
}

.change-form-link {
  color: $primary-color;
  font-size: 1.6rem;
  font-weight: bold;
}

.change-form-link {
  color: $primary-color;
  font-size: 1.6rem;
  font-weight: bold;
}
