<div class="form-box" *ngIf="currentForm">
  <app-alert
    [message]="error"
    *ngIf="error"
    (close)="onHandleError()"
  ></app-alert>

  <div *ngIf="isLoading" style="text-align: center">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
    <h2 class="form-heading">Registre-se</h2>
    <div class="form-inputs-box">
      <div class="input-box required-field">
        <input
          class="input-control"
          type="personName"
          id="personName"
          placeholder="Nome"
          formControlName="personName"
        />
        <div class="error-messages-box">
          <span
            class="input-validation-message"
            *ngIf="
              (signupForm.get('personName').touched || submitted) &&
              signupForm.get('personName').errors?.['required']
            "
            >Nome não pode ser nulo</span
          >
        </div>
      </div>
      <div class="input-box required-field">
        <input
          class="input-control"
          type="email"
          id="email"
          placeholder="Email"
          formControlName="email"
        />
        <div class="error-messages-box">
          <span
            class="input-validation-message"
            *ngIf="
              (signupForm.get('email').touched || submitted) &&
              signupForm.get('email').errors?.['required']
            "
            >Email não pode ser nulo</span
          >

          <span
            class="input-validation-message"
            *ngIf="
              (signupForm.get('email').touched || submitted) &&
              signupForm.get('email')?.errors?.['email']
            "
            >Email deve estar no formato de email</span
          >
        </div>
      </div>
      <div class="input-box required-field">
        <input
          class="input-control"
          type="phone"
          id="phone"
          formControlName="phone"
          placeholder="Telefone"
        />
        <div class="error-messages-box">
          <span
            class="input-validation-message"
            *ngIf="
              (signupForm.get('phone').touched || submitted) &&
              signupForm.get('phone')?.errors?.['required']
            "
            >Telefone não pode ser nulo</span
          >
        </div>
      </div>
      <div class="input-box required-field">
        <input
          class="input-control"
          type="password"
          id="password"
          formControlName="password"
          placeholder="Senha"
        />
        <div class="error-messages-box">
          <span
            class="input-validation-message"
            *ngIf="
              (signupForm.get('password').touched || submitted) &&
              signupForm.get('password')?.errors?.['required']
            "
            >Senha não pode ser nulo</span
          >
          <span
            class="input-validation-message"
            *ngIf="
              (signupForm.get('password').touched || submitted) &&
              signupForm.get('password')?.hasError('minlength')
            "
          >
            A senha deve ter pelo menos 8 caracteres.
          </span>
          <span
            class="input-validation-message"
            *ngIf="
              (signupForm.get('password').touched || submitted) &&
              signupForm.get('password')?.hasError('pattern')
            "
          >
            A senha deve conter pelo menos uma letra.
          </span>
        </div>
      </div>
      <div class="input-box required-field">
        <input
          class="input-control"
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          placeholder="Confirmar Senha"
        />
        <div class="error-messages-box">
          <span
            class="input-validation-message"
            *ngIf="
              (signupForm.get('confirmPassword').touched || submitted) &&
              signupForm.get('confirmPassword')?.errors?.['required']
            "
            >Confrimar senha não pode ser nulo</span
          >
          <span
            class="input-validation-message"
            *ngIf="
              (signupForm.get('confirmPassword').touched || submitted) &&
              signupForm.value.password !== signupForm.value.confirmPassword
            "
            >Confirmar senha e senha tem que serem iguais</span
          >
        </div>
        <div class="input-checkbox-box">
          <input type="checkbox" />
          <label>Eu aceito os termos de serviço</label>
        </div>
      </div>

      <div class="btn-form-box">
        <!-- <button class="btn btn-primary" type="submit" [disabled]="!signupForm.valid"> -->
        <button
          class="btn-form btn-crazy-gradient"
          type="submit"
          [disabled]="!signupForm.valid"
        >
          Cadastrar Conta
        </button>
      </div>
      <p class="form-action">
        Ja possui registro?
        <span class="change-form-link" (click)="onChangeForm()"
          >Entre agora</span
        >
      </p>
    </div>
  </form>
</div>
