.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 50;
  backdrop-filter: blur(2px);
}

.alert-box {
  display: flex;
  align-items: center;
  height: 10rem;
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 16px 26px rgba(0, 0, 0, 0.2);
}

.alert-box p {
  font-size: 1.6rem;
}

.alert-box-actions {
  text-align: right;
}

.btn-close {
  background-color: var(--red-color);
  color: var(--white-color);
  border: 0px solid;
  display: flex;
  position: absolute;
  top: 1rem;
  right: 1rem;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.6rem;
}
