<div class="form-box">
  <div *ngIf="isLoading" style="text-align: center">
    <mat-progress-spinner
      class="example-margin"
      color="primary"
      [mode]="'indeterminate'"
    >
    </mat-progress-spinner>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
    <h2 class="form-heading">Entrar</h2>
    <div class="form-inputs-box">
      <app-input-field
        [label]="'Email'"
        [form]="loginForm"
        [inputErrors]="emailErrors"
        [formControlName]="'email'"
        [placeholder]="'email@example.com'"
        [icon]="'email'"
      ></app-input-field>
      <app-input-field
        [label]="'Senha'"
        [form]="loginForm"
        [inputErrors]="passwordErrors"
        [formControlName]="'password'"
        [icon]="'password'"
        [isPassword]="true"
      ></app-input-field>

      <div class="btn-form-box">
        <button
          class="btn-form btn-crazy-gradient"
          type="submit"
          [disabled]="!loginForm.valid"
        >
          Entrar
        </button>
      </div>
      <p class="form-action">
        Não possui conta?
        <span class="change-form-link" (click)="onChangeForm()"
          >Registre agora</span
        >
      </p>
    </div>
  </form>
</div>
