<div class="form-box">
  <div *ngIf="isLoading" style="text-align: center">
    <mat-progress-spinner
      class="example-margin"
      color="primary"
      [mode]="'indeterminate'"
    >
    </mat-progress-spinner>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
    <h2 class="form-heading">Entrar</h2>
    <div class="form-inputs-box">
      <app-input-field
        [formControlName]="'email'"
        [label]="'Email'"
        [inputErrors]="emailErrors"
        [form]="loginForm"
        [placeholder]="'email@example.com'"
      ></app-input-field>

      <app-input-field
        [formControlName]="'password'"
        [label]="'Password'"
        [inputErrors]="passwordErrors"
        [form]="loginForm"
        [placeholder]=""
      ></app-input-field>

      <!-- <div class="input-box">
         
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            id="password"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error
            *ngIf="
              (loginForm.get('password').touched) &&
              loginForm.get('password')?.errors?.['required']"
            >Senha não pode ser nula</mat-error
          >
          <mat-error
            *ngIf="
              loginForm.get('password').touched &&
              loginForm.get('password')?.errors
            "
            >Senha tem que conter mais de 8 caracteres</mat-error
          >
        </mat-form-field>
      </div> -->

      <!-- <div class="btn-form-box">
        <button
          class="btn-form btn-crazy-gradient"
          type="submit"
          [disabled]="!loginForm.valid"
        >
          Entrar
        </button>
      </div>
      <div class="btn-form-box"> -->
      <div>
        <button class="btn-form btn-crazy-gradient" type="submit">
          Entrar
        </button>
      </div>
      <p class="form-action">
        Não possui conta?
        <span class="change-form-link" (click)="onChangeForm()"
          >Registre agora</span
        >
      </p>
    </div>
  </form>
</div>
