:root {
  --primary-color: #959fcb;

  --primary-color-lighter: #f4eeff;
  --primary-color-even-lighter: #e4e8f6;

  --primary-color-darker: #424874;
  --primary-color-even-darker: #323543;

  --primary-color-opacity: rgba(96, 150, 180, 0.35);

  --dark-color: #121317;
  --dark-color-lighter: #323543;
  --dark-color-opacity: rgb(18, 19, 23, 0.5);

  --red-color: #fa5252;
  --green-color: #40c057;

  --white-color: #fbfcfe;
  --white-color-darker: #e4e8f6;
  --white-color-opacity: rgb(247, 248, 252, 0.5);

  --pure-dark-color: #000;
  --pure-white-color: #fff;

  /* Gradients */
  --dark-gradient: linear-gradient(
    to right,
    var(--primary-color-even-darker),
    var(--dark-color)
  );
  --white-gradient: linear-gradient(
    to right bottom,
    var(--primary-color-even-lighter),
    var(--white-color)
  );

  --primary-light-gradient: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-color-lighter)
  );

  --primary-even-light-gradient: linear-gradient(
    to right,
    var(--primary-color-lighter),
    var(--primary-color-even-lighter)
  );

  --primary-dark-gradient: linear-gradient(
    to right bottom,
    var(--primary-color),
    var(--primary-color-darker)
  );

  --primary-even-dark-gradient: linear-gradient(
    to right,
    var(--primary-color-darker),
    var(--primary-color-even-darker)
  );

  --crazy-gradient: linear-gradient(
    to left top,
    var(--primary-color-lighter),
    var(--primary-color-darker),
    var(--primary-color)
  );

  /* Shadows */
  --large-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);

  /* Fonts */
  --fonte-principal: Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  cursor: pointer;
}

*::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--primary-color);
}

*::-webkit-scrollbar-track {
  background-color: var(--white-color);
}

*:focus-visible {
  transition: 0.06s all;
  border-bottom: 2px solid var(--primary-color);
  outline: var(--primary-color-even-lighter) 6px solid;
}

*::selection {
  color: var(--white-color);
  background-color: var(--primary-color);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  line-height: 1;
  font-weight: 400;
  color: var(--dark-color);
  font-family: var(--fonte-principal);
  background-color: var(--white-color);
}
