<div class="input-box" [formGroup]="form">
  <mat-form-field>
    <mat-label>{{ label }}</mat-label>
    <input
      [isDisabled]="isDisabledInput"
      matInput
      placeholder="{{ placeholder }}"
      [formControlName]="formControlName"
      [id]="formControlName"
      [type]="password ? 'password' : 'text'"
    />

    <mat-icon matSuffix *ngIf="!isPassword">{{ icon }}</mat-icon>

    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="password = !password"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="password"
      *ngIf="isPassword"
    >
      <mat-icon>{{ password ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <div class="errors-box" *ngIf="form.get(formControlName).touched">
    <div *ngFor="let error of inputErrors">
      <app-validation-error
        *ngIf="form.get(formControlName).hasError(error.Type)"
        [inputError]="error"
      ></app-validation-error>
    </div>
  </div>
</div>
