<div class="input-box" [formGroup]="form">
  <mat-form-field>
    <mat-label>{{ label }}</mat-label>
    <input
      matInput
      placeholder="{{ placeholder }}"
      formControlName="email"
      type="email"
      id="email"
    />
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>
  <!-- <div class="errors-box" *ngIf="form.get('email').touched">
    <app-validation-error
      *ngFor="let error of inputErrors"
      [inputError]="error"
      [form]="form"
      [formControlName]="formControlName"
    ></app-validation-error>
  </div> -->
</div>
