@use "@angular/material" as mat;
@import "../scss/variables";

mat-sidenav {
  min-width: 30rem;

  mat-drawer-inner-container {
    position: relative;
  }

  .nav-link-item-box {
    font-size: 1.8rem;
    display: flex;
    gap: 1.2rem;
    align-items: center;
  }

  .info-box {
    padding: 2.8rem 0;
  }

  .name {
    display: block;
    font-size: 1.8rem;
    color: $dark-color;
    text-align: center;
    text-decoration: none;
  }

  .email {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: $secondary-color-darker;
    text-align: center;
  }

  .logout-box {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    .button-logout-box {
      padding: 2.8rem 1.2rem;

      mat-icon {
        width: 2rem;
        height: 2rem;
        font-size: 1.8rem;
      }

      .button-logout {
        font-size: 1.8rem;
      }
    }

    .time-left {
      padding: 0 1.2rem;
      font-size: 1.1rem;
    }
  }
}

.content-route {
  padding: 0rem 5rem;
  height: 100rem;
}

.toggle-theme-button {
  margin: 0 0 0 auto;
}
