@import "../scss/variables";

mat-sidenav-container {
  min-height: 100vh;

  mat-sidenav-content {
    height: 100vh;
  }

  mat-sidenav {
    min-width: 300px;

    mat-toolbar {
      height: 120px;
      justify-content: center;
    }

    mat-drawer-inner-container {
      position: relative;
    }

    .nav-link-item-box {
      font-size: 18px;
      display: flex;
      gap: 12px;
      align-items: center;
    }

    .info-box {
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: center;
      justify-content: center;
      padding: 28px 0;
    }

    .name {
      display: block;
      font-size: 18px;
      color: $dark-color;
      text-align: center;
      text-decoration: none;
    }

    .email {
      font-size: 12px;
      color: $secondary-color-darker;
      text-align: center;
      margin: 0;
    }

    .logout-box {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;

      .button-logout-box {
        padding: 28px 12px;

        mat-icon {
          width: 20px;
          height: 20px;
          font-size: 18px;
        }

        .button-logout {
          font-size: 18px;
        }
      }

      .time-left {
        padding: 0 12px;
        font-size: 11px;
      }
    }
  }

  .content-route {
    padding: 12px 50px 50px 50px;
  }

  .toggle-theme-button {
    margin: 0 0 0 auto;
  }

  .toolbar-submenu-top {
    height: 100px;
    padding: 32px 50px;

    .page-title {
      display: flex;
      align-items: center;
      font-size: 38px;
      font-weight: 700;
      gap: 12px;

      mat-icon {
        font-size: 38px;
        width: 40px;
        height: 40px;
      }
    }
  }
}

::ng-deep.mat-mdc-tooltip-panel {
  background-color: $primary-color-lighter;
  padding: 2px 10px;
  border-radius: 5px;
}
