<mat-sidenav-container [ngClass]="isDark ? 'theme-dark' : 'theme-light'">
  <mat-sidenav class="sidenav mat-elevation-z4" #sidenav mode="push">
    <mat-toolbar>
      <img
        src="../assets/images/Logo.png"
        alt="Logo do Sistema"
        width="150"
        class="text-center"
    /></mat-toolbar>
    <mat-divider></mat-divider>
    <div class="info-box" *ngIf="userAuthenticated">
      <a routerLink="/users" class="mb-2" class="name">
        {{ userAuthenticated.personName }}
      </a>
      <p class="email">
        {{ userAuthenticated.email }}
      </p>
    </div>

    <mat-divider></mat-divider>
    <mat-nav-list>
      <a
        *ngFor="let menuItem of menuItems"
        mat-list-item
        routerLink="{{ menuItem.link }}"
        routerLinkActive="active"
        class="nav-list-link"
      >
        <div class="nav-link-item-box">
          <mat-icon>{{ menuItem.icon }}</mat-icon>
          <span>
            {{ menuItem.label }}
          </span>
        </div>
      </a>
    </mat-nav-list>

    <div class="logout-box">
      <mat-divider></mat-divider>
      <div class="button-logout-box" *ngIf="userAuthenticated">
        <button
          mat-button
          color="warn"
          class="button-logout"
          (click)="onLogout()"
        >
          <mat-icon>logout</mat-icon>Sair
        </button>
      </div>
      <div class="button-logout-box" *ngIf="!userAuthenticated">
        <a mat-button color="primary" class="button-logout" routerLink="/Auth">
          <mat-icon>login</mat-icon>Entrar
        </a>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar-submenu" color="primary">
      <mat-toolbar-row>
        <button
          matTooltip="{{ sidenav.opened ? 'Fechar Menu' : 'Abrir Menu' }}"
          [matTooltipPosition]="'right'"
          mat-icon-button
          class="example-icon"
          (click)="sidenav.toggle()"
        >
          <mat-icon>{{ sidenav.opened ? "close" : "menu" }}</mat-icon>
        </button>
        <mat-slide-toggle class="toggle-theme-button" (click)="changeTheme()">
        </mat-slide-toggle>
      </mat-toolbar-row>
      <mat-toolbar-row class="toolbar-submenu-top" *ngIf="currentMenuItem">
        <h1 class="page-title">
          {{ currentMenuItem.label }}
          <mat-icon>{{ currentMenuItem.icon }}</mat-icon>
        </h1>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="content-route">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
