// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

@include mat.core();

$mat-custom-primary: (
  50: #f7f5fe,
  100: #ece6fe,
  200: #dfd6fd,
  300: #d2c6fc,
  400: #c8b9fb,
  500: #beadfa,
  600: #b8a6f9,
  700: #af9cf9,
  800: #a793f8,
  900: #9983f6,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-custom-accent: (
  50: #fffef9,
  100: #fffdef,
  200: #fffce4,
  300: #fffad9,
  400: #fff9d1,
  500: #fff8c9,
  600: #fff7c3,
  700: #fff6bc,
  800: #fff5b5,
  900: #fff3a9,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$primary: mat.define-palette($mat-custom-primary, 500);
$accent: mat.define-palette($mat-custom-accent, 500);
$warn: mat.define-palette(mat.$red-palette);

$theme-light: mat.define-light-theme($primary, $accent, $warn);
$theme-dark: mat.define-dark-theme($primary, $accent, $warn);

.theme-dark {
  @include mat.all-component-themes($theme-dark);
}

.theme-light {
  @include mat.all-component-themes($theme-light);
}
