<div class="form-box" *ngIf="currentForm">
  <app-alert
    [message]="error"
    *ngIf="error"
    (close)="onHandleError()"
  ></app-alert>

  <div *ngIf="isLoading" style="text-align: center">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
    <h2 class="form-heading">Entrar</h2>
    <div class="form-inputs-box">
      <div class="input-box">
        <input
          class="input-control"
          type="email"
          id="email"
          placeholder="Email"
          formControlName="email"
        />
        <div class="error-messages-box">
          <span
            class="input-validation-message"
            *ngIf="
              (loginForm.get('email').touched || submitted) &&
              loginForm.get('email').errors?.['required']
            "
            >Email não pode ser nulo</span
          >

          <span
            class="input-validation-message"
            *ngIf="
              (loginForm.get('email').touched || submitted) &&
              loginForm.get('email')?.errors?.['email']
            "
            >Email deve estar no formato de email</span
          >
        </div>
      </div>

      <div class="input-box">
        <input
          class="input-control"
          type="password"
          id="password"
          formControlName="password"
          placeholder="Senha"
        />
        <div class="error-messages-box">
          <span
            class="input-validation-message"
            *ngIf="
              (loginForm.get('password').touched || submitted) &&
              loginForm.get('password')?.errors?.['required']
            "
            >Senha não pode ser nulo</span
          >
          <span
            class="input-validation-message"
            *ngIf="
              (loginForm.get('password').touched || submitted) &&
              loginForm.get('password')?.errors
            "
            >Senha tem que conter mais de 8 caracteres</span
          >
        </div>
      </div>

      <div class="btn-form-box">
        <button
          class="btn-form btn-crazy-gradient"
          type="submit"
          [disabled]="!loginForm.valid"
        >
          Entrar
        </button>
      </div>
      <p class="form-action">
        Ja possui registro?
        <span class="change-form-link" (click)="onChangeForm()"
          >Entre agora</span
        >
      </p>
    </div>
  </form>
</div>
