@import "../../../scss/_variables";

.form-box-container {
  margin-top: 3.4rem;
  padding: 4.2rem 6.2rem;

  .form-heading {
    color: $primary-color;
    font-size: 3.2rem;
    margin-bottom: 2.8rem;
  }
}
