<div class="form-box">
  <div *ngIf="isLoading" style="text-align: center">
    <mat-progress-spinner
      class="example-margin"
      color="primary"
      [mode]="'indeterminate'"
    >
    </mat-progress-spinner>
  </div>
  <form
    [formGroup]="marriageForm"
    class="form-box-container"
    (ngSubmit)="onSubmit()"
    *ngIf="!isLoading"
  >
    <div class="flex flex-spaced">
      <h2 class="form-heading">Informações do Casamento</h2>
      <div class="btn-form-box">
        <app-btn-crazy-gradient
          [buttonText]="'Salvar'"
          [form]="marriageForm"
        ></app-btn-crazy-gradient>
      </div>
    </div>

    <div class="form-inputs-box grid grid--2--cols gap-bg">
      <div class="input-file-box grid grid--2--cols">
        <input
          type="file"
          formControlName="photo"
          (change)="onFileChange($event)"
          #formInput
        />
        <div class="input-file-actions">
          <mat-icon>upload</mat-icon>
          <span class="input-label"
            >Clique aqui ou arreste para enviar a foto dos noivos</span
          >
          <button
            mat-raised-button
            class="send-button"
            color="accent"
            (click)="openInputFile(formInput)"
          >
            Enviar
          </button>
          <span class="input-instructions">Permitido apenas JPG e PNG</span>
        </div>
        <div class="input-file-image">
          <img
            *ngIf="photoCoupleSrc"
            [src]="photoCoupleSrc"
            alt="Imagem Selecionada"
          />
        </div>
      </div>
      <div class="input-info-box">
        <h2 class="form-heading-info">Informações para os convidados</h2>
        <app-input-field
          [label]="'Data do Casamento'"
          [form]="marriageForm"
          [inputErrors]="dateErrors"
          [formControlName]="'date'"
          [placeholder]="'12/03/2006'"
          [icon]="'date'"
        ></app-input-field>
        <app-input-field
          [label]="'Hora do Casamento'"
          [form]="marriageForm"
          [inputErrors]="hourErrors"
          [formControlName]="'hour'"
          [placeholder]="'18:00'"
          [icon]="'clock'"
        ></app-input-field>
        <app-input-field
          [label]="'Local do Casamento'"
          [form]="marriageForm"
          [inputErrors]="localErrors"
          [formControlName]="'local'"
          [placeholder]="'Rua Antonio Buzzeto, Vila Cicma, 457'"
          [icon]="'local'"
        ></app-input-field>
      </div>
    </div>
  </form>
</div>
