<div class="form-box">
  <div *ngIf="isLoading" style="text-align: center">
    <mat-progress-spinner
      class="example-margin"
      color="primary"
      [mode]="'indeterminate'"
    >
    </mat-progress-spinner>
  </div>
  <form [formGroup]="marriageForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
    <h2 class="form-heading">Informações do Casamento</h2>
    <!-- this.marriageForm = new FormGroup({
      photo: new FormControl(null),
      date: new FormControl(null, [Validators.required]),
      hour: new FormControl(null, [Validators.required]),
      moneyRaised: new FormControl(null),
      moneyExpected: new FormControl(null),
      local: new FormControl(null, [Validators.required]),
    }); -->
    <div class="form-inputs-box">
      <div class="input-box">
        <mat-form-field>
          <mat-label>Foto do Casal</mat-label>
          <input
            matInput
            placeholder="Placeholder"
            formControlName="photo"
            type="text"
          />
          <mat-icon matSuffix>photo</mat-icon>
          <mat-error
            *ngIf="
              marriageForm.get('photo').errors?.['required']"
            >Foto do casal não pode ser nula</mat-error
          >
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label>Data </mat-label>
          <input matInput formControlName="date" id="date" />
          <mat-error
            *ngIf="
              marriageForm.get('date')?.errors?.['required']"
            >Data não pode ser nula</mat-error
          >
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label>Hora </mat-label>
          <input matInput formControlName="hour" id="hour" />
          <mat-error
            *ngIf="
              marriageForm.get('hour')?.errors?.['required']"
            >Horário não pode ser nulo</mat-error
          >
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>
          <mat-label>Dinheiro arrecadado </mat-label>
          <input matInput formControlName="moneyRaised" id="moneyRaised" />
          <mat-error
            *ngIf="
              marriageForm.get('moneyRaised')?.errors?.['required']"
            >Horário não pode ser nulo</mat-error
          >
        </mat-form-field>
      </div>

      <div class="btn-form-box">
        <button
          class="btn-form btn-crazy-gradient"
          type="submit"
          [disabled]="!marriageForm.valid"
        >
          Salvar
        </button>
      </div>
    </div>
  </form>
</div>
