@import "../../../scss/_variables";

.form-box-container {
  margin-top: 3.4rem;
  padding: 4.2rem 6.2rem;

  .form-input-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .form-heading {
    color: $primary-color;
    font-size: 3.2rem;
    margin-bottom: 2.8rem;
  }

  .input-file-box,
  .input-info-box {
    border: 1px solid $primary-color;
    border-radius: 15px;
  }

  .input-file-box {
    position: relative;
    width: 100%;
    overflow: hidden;
    align-items: center;

    input {
      width: 100%;
      display: block;
      position: absolute;
      opacity: 0;
      height: 100%;
      z-index: 999;
    }

    .input-file-actions {
      padding: 0 2.8rem;
      margin: auto 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 1.4rem;

      mat-icon {
        color: $primary-color;
        opacity: 1;
        font-size: 8rem;
        width: 8rem;
        height: 8rem;
      }

      .input-label {
        font-size: 1.5rem;
      }

      .send-button {
        z-index: 999999;
      }

      .input-instructions {
        font-size: 1.2rem;
        color: $gray;
      }
    }

    .input-file-image {
      border-left: 1px solid $primary-color;
      grid-column: 2/3;
      overflow: hidden;
      height: 100%;
      position: relative;

      img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
      }
    }
  }

  .input-info-box {
    padding: 4rem 5rem;

    .form-heading-info {
      color: $primary-color;
      font-size: 2.6rem;
      margin-bottom: 2.8rem;
    }
  }
}
