@import "../../../scss/variables";

.double-form {
  position: relative;
  border-radius: 20px;
  margin: 5rem auto;

  border: 1px solid $primary-color;
  height: 80rem;
  width: 70%;

  .form {
    height: 100%;
  }
}

.form-effect {
  content: "";
  width: 50%;
  height: 100%;
  display: block;
  top: 0;
  left: 50%;
  position: absolute;
  background: $primary-dark-gradient;

  @media (max-width: 1200px) {
    display: none;
  }
}
