<mat-form-field [formGroup]="form">
  <mat-label>Selecione uma data</mat-label>
  <input
    [formControlName]="'date'"
    [id]="'date'"
    [min]="minDate"
    matInput
    [matDatepicker]="picker"
  />
  <mat-hint>DD/MM/YYYY</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker
    color="accent"
    #picker
    [startAt]="minDate"
    [touchUi]=""
    color="primary"
  ></mat-datepicker>
  <mat-error
    *ngIf="
      form.get('date').touched &&
      form.get('date').hasError('matDatepickerMin') &&
      !form.get('date').hasError('required')
    "
  >
    Data tem que ser maior que o dia de hoje
  </mat-error>
  <mat-error
    *ngIf="form.get('date').touched && form.get('date').hasError('required')"
  >
    Data não pode ser nula
  </mat-error>
</mat-form-field>

<!-- <div class="input-box" [formGroup]="form">
  <mat-form-field>
    <input
      matInput
      [formControlName]="formControlName"
      [id]="formControlName"
    />
  </mat-form-field>
</div> -->
