::ng-deep.cdk-overlay-pane {
  background-color: #fff;
}

mat-form-field {
  width: 100%;
  font-size: 16px;
}

mat-hint {
  font-size: 12px;
}

mat-error {
  font-size: 12px;
  margin: 02px 0 04px -16px;
}
