::ng-deep.cdk-overlay-pane {
  background-color: #fff;
}

mat-form-field {
  width: 100%;
  font-size: 1.6rem;
}

mat-hint {
  font-size: 1.2rem;
}

mat-error {
  font-size: 1.2rem;
  margin: 0.2rem 0 0.4rem -16px;
}
