::ng-deep.cdk-overlay-pane.mat-datepicker-popup {
  background-color: #fff;
  box-shadow: 0px 10px 20px #0000001a;
  border-radius: 20px;
  padding: 20px;
}

mat-form-field {
  width: 100%;
  font-size: 16px;
}

mat-hint {
  font-size: 12px;
}

mat-error {
  font-size: 12px;
  margin: 02px 0 04px -16px;
}
